/*RESET E GERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(../img/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*MAIN*/

main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
    background-color: #d6d6d648;
    border: 1px solid #444;
    border-radius: 30px;
}

.head h1 {
    margin-bottom: 10px;
}

.input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}

.line {
    display: flex;
}

.btn {
    padding: 10px 80px;
    margin: 5px auto;
    border-radius: 40px;
}